<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.practice.hyo.BoardMapper">
  
  <insert id="create">
  	insert into tbl_board (btitle, bcontent, bwriter)
  	values(#{btitle},#{bcontent},#{bwriter})
  </insert>
  
  <select id="read" resultType="boardVO">
  	select *
  	from tbl_board
  	where bno = #{bno}
  </select>
  
  <update id="update">
  	update tbl_board
  	set btitle = #{btitle},
  	bcontent = #{bcontent}
  	where bno = #{bno}
  </update>
  
  <delete id="delete">
  	delete from tbl_board
  	where bno = #{bno}
  </delete>
  
  <select id="listAll" resultType="com.practice.hyo.domain.BoardVO">
  	<![CDATA[
  	select
  		bno, btitle, bcontent, bwriter, regdate, viewcnt
  		from tbl_board
  		where bno > 0
  		order by bno desc, regdate desc]]>
  </select>
  
  <select id="listPage" resultType="boardVO">
  	<![CDATA[
  	select
  		bno, btitle, bcontent, bwriter, regdate, viewcnt, replycnt
  	from
  		tbl_board
  	where bno > 0
  	order by bno desc, regdate desc
  	limit #{pageStart}, #{perPageNum}
  	]]>
  </select>
  
  <select id="countPaging" resultType="int">
  	<![CDATA[
  	select
  		count(bno)
 	from
 		tbl_board
 	where
 		bno > 0
  	]]>
  </select>
 
   <sql id="search">
	  <if test="searchType != null">
	  	<if test="searchType == 't'.toString()">
	  		and btitle like CONCAT('%', #{keyword}, '%')
	  	</if>
	  	<if test="searchType == 'c'.toString()">
	  		and bcontent like CONCAT('%', #{keyword}, '%')
	  	</if>
	  	<if test="searchType == 'w'.toString()">
	  		and bwriter like CONCAT('%', #{keyword}, '%')
	  	</if>
	  </if>
  </sql>
  
  <select id="listSearch" resultType="BoardVO">
  <![CDATA[
  	select *
  	from tbl_board
  	where bno > 0
  ]]>
  
	<include refid="search"></include>
  
  <![CDATA[
  	order by bno desc
  	limit #{pageStart}, #{perPageNum}
  ]]>
  
  </select>
  
  <select id="listSearchCount" resultType="int">
  <![CDATA[
  	select count(bno)
  	from tbl_board
  	where bno > 0
  ]]>
  <include refid="search"></include>
  </select>
  
  <update id="updateReplyCnt">
  	update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
  </update>
  
  <update id="updateViewCnt">
	update tbl_board set viewcnt = viewcnt +1 where bno = #{bno}  
  </update>
  
  </mapper>
