<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 
 <configuration>
  	
  	<typeAliases>
  		<typeAlias type="com.practice.hyo.domain.BoardVO" alias="boardVO"/>
  		<!-- <package name="com.practice.hyo.domain"/> -->
  		<typeAlias type="com.practice.hyo.domain.MemberVO" alias="memberVO"/>
  	</typeAliases>
  	
</configuration>
